<div class="content-blocks about">
    <section class="content" id="about">
        <div class="block-content">
            <h3 class="block-title">Profile</h3>
            <h3 class="subheading">I'm a <strong>UI/UX Designer & Frontend Developer</strong> from London, UK. I aim to make a difference through my creative solution.</h3>
            <p>Worked with project teams to create user-friendly and appealing application interfaces and websites for users. Met with project manager, business analyst and architect right from beginning of project, creating rough mock-ups that were refined and extended over many iterations. Adjustments to mock-ups as necessary to address problems encountered.</p>
            <div class="info-list row">
                <div class="col-sm-6"><span>Name : </span> James Donnovan Bond</div>
                <div class="col-sm-6"><span>Date of birth : </span> September 9, 1982 </div>
                <div class="col-sm-6"><span>Address : </span> 1234 House, Large Street, Small Road, Nice City, Poor County.</div>
                <div class="col-sm-6"><span>Email : </span> youremail@bond.com</div>
                <div class="col-sm-6"><span>Phone : </span> + 123 456 789 456</div>
                <div class="col-sm-6"><span>Skype : </span> James.Bond</div>
                <div class="col-sm-6"><span>Interest : </span> freelance, full-time</div>
            </div>
            <img class="sign" src="assets/images/signature.png" alt="" />
        </div>
        <!-- Skills -->
        <div class="block-content">
            <h3 class="block-title">Skills</h3>
            <div *ngFor="let skillsInd of cv.skills">
                <label class="progress-bar-label">{{skillsInd.name}}</label>
                <div class="progress">
                    <div style.width.%={{skillsInd.value}} class="progress-bar" role="progressbar" attr.aria-valuenow="{{ skillsInd.value }}" aria-valuemin="0" aria-valuemax="100">
                        <span>{{skillsInd.value}}%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Skills End -->

        <!-- Tech Stack -->
        <div class="block-content">
            <h3 class="block-title">Tech Stack</h3>
            <div *ngFor="let techInd of cv.techStack">
                <label class="progress-bar-label">{{techInd.name}}</label>
                <div class="progress">
                    <div style.width.%={{techInd.value}} class="progress-bar" role="progressbar" attr.aria-valuenow="{{ techInd.value }}"  aria-valuemin="0" aria-valuemax="100">
                        <span>{{techInd.value}}%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tech Stack End -->

        <!-- QA Stack -->
        <div class="block-content">
            <h3 class="block-title">QA Stack</h3>
            <div *ngFor="let qaInd of cv.qaStack">
                <label class="progress-bar-label">{{qaInd.name}}</label>
                <div class="progress">
                    <div style.width.%={{qaInd.value}} class="progress-bar" role="progressbar" attr.aria-valuenow="{{ qaInd.value }}"  aria-valuemin="0" aria-valuemax="100">
                        <span>{{qaInd.value}}%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- QA Stack End -->


        <!-- Experience -->
        <div class="block-content">
            <h3 class="block-title">Experience</h3>
            <div class="timeline experience">
                <div class="row">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div *ngFor="let expInd of cv.experience">
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4><span>{{expInd.position}}</span> @ {{expInd.company}}</h4>
                                        <h5>{{expInd.dates}}</h5>
                                    </div>
                                    <p name="descriptionText">{{expInd.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Experience End -->

        <!-- Education -->
        <div class="block-content">
            <h3 class="block-title">Education</h3>
            <div class="timeline education">
                <div class="row">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div *ngFor="let eduInd of cv.education">
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4>{{eduInd.title}} | <span>{{eduInd.college}}</span></h4>
                                        <h5>{{eduInd.dates}}</h5>
                                        <a [attr.href]="eduInd.url" target="_blank">Watch Certificate</a>
                                    </div>
                                    <p>{{eduInd.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Education End -->

        <!-- Services -->
        <div class="block-content">
            <h3 class="block-title">Services</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6 service" *ngFor="let servInd of cv.services">
                    <div class="service-icon">
                        <i [class]="servInd.icon"></i>
                    </div>
                    <h4>{{servInd.name}}</h4>
                    <p>{{servInd.description}}</p>
                </div>
            </div>
        </div>
        <!-- Services End -->

        <!-- Awards -->
        <!-- <div class="block-content">
            <h3 class="block-title">Awards</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 awards">
                    <img src="assets/images/awards/1.jpg" alt="" />
                </div>
                <div class="col-md-3 col-sm-6 awards">
                    <img src="assets/images/awards/2.jpg" alt="" />
                </div>
                <div class="col-md-3 col-sm-6 awards">
                    <img src="assets/images/awards/3.jpg" alt="" />
                </div>
                <div class="col-md-3 col-sm-6 awards">
                    <img src="assets/images/awards/4.jpg" alt="" />
                </div>
            </div>
        </div> -->
        <!-- Awards End -->

        <!-- Testimonials -->
        <div class="block-content">
            <h3 class="block-title">Testimonials</h3>
            <div class="row">
                <div id="liontestimonial" class="owl-carousel owl-theme">
                    <div *ngFor="let tesInd of cv.testimonials">
                        <div class="item testimonials">
                            <img src={{tesInd.pictureUrl}} alt="">
                            <blockquote>{{tesInd.commentary}}
                                <p class="quote"><span>{{tesInd.name}}</span> - {{tesInd.position}}</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials End -->

        <div class="row text-center">
            <div class="col-md-12 btn-email">
                <a class="btn lowercase">shout@james.com</a>
            </div>
        </div>
    </section>
</div>
