<div class="content-blocks about">
    <section class="content" id="about">
        <div class="block-content">
            <h3 class="block-title">Profile</h3>
            <h3 class="subheading">Exceptionally communicative and bilingual <strong>Computer Scientist</strong> Skilled in various developer tools looking to be key player on multiple and diverse 
                technical design projects.</h3>
            <p>Efficient Web Developer with 12 years of experience in 
                challenging development environments. Excellent 
                communication and organizational abilities with a 
                resourceful approach to solving problems. Goal  
                oriented and knowledgeable professional with a 
                strong desire to learn and contribute to team success.</p>
            <div class="info-list row">
                <div class="col-sm-6"><span>Name : </span> Alirio Aranguren</div>
                <div class="col-sm-6"><span>Address : </span> Collado Villalba, Madrid, Spain. 28400</div>
                <div class="col-sm-6"><span>Email : </span> aliriomiguel@aranguren.us</div>
                <div class="col-sm-6"><span>Phone : </span> +34 747482348</div>
                <div class="col-sm-6"><span>Skype : </span> aliriomiguel</div>
                <div class="col-sm-6"><span>LinkedIn : </span> <a href="https://www.linkedin.com/in/alirioaranguren/" target="_blank">Alirio Aranguren</a></div>
                <div class="col-sm-6"><span>GitHub : </span> <a href="https://github.com/aliriomiguel" target="_blank">@aliriomiguel</a></div>                
                <div class="col-sm-6"><span>Interest : </span> freelance, full-time</div>
            </div>
        </div>
        <!-- Skills -->
        <div class="block-content">
            <h3 class="block-title">Skills</h3>
            <div *ngFor="let skillsInd of cv.skills">
                <label class="progress-bar-label">{{skillsInd.name}}</label>
                <div class="progress">
                    <div style.width.%={{skillsInd.value}} class="progress-bar" role="progressbar" attr.aria-valuenow="{{ skillsInd.value }}" aria-valuemin="0" aria-valuemax="100">
                        <span>{{skillsInd.value}}%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Skills End -->

        <!-- Tech Stack -->
        <div class="block-content">
            <h3 class="block-title">Tech Stack</h3>
            <div *ngFor="let techInd of cv.techStack">
                <label class="progress-bar-label">{{techInd.name}}</label>
                <div class="progress">
                    <div style.width.%={{techInd.value}} class="progress-bar" role="progressbar" attr.aria-valuenow="{{ techInd.value }}"  aria-valuemin="0" aria-valuemax="100">
                        <span>{{techInd.value}}%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tech Stack End -->

        <!-- QA Stack -->
        <div class="block-content">
            <h3 class="block-title">QA Stack</h3>
            <div *ngFor="let qaInd of cv.qaStack">
                <label class="progress-bar-label">{{qaInd.name}}</label>
                <div class="progress">
                    <div style.width.%={{qaInd.value}} class="progress-bar" role="progressbar" attr.aria-valuenow="{{ qaInd.value }}"  aria-valuemin="0" aria-valuemax="100">
                        <span>{{qaInd.value}}%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- QA Stack End -->


        <!-- Experience -->
        <div class="block-content">
            <h3 class="block-title">Experience</h3>
            <div class="timeline experience">
                <div class="row">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div *ngFor="let expInd of cv.experience">
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4><span>{{expInd.position}}</span> @ {{expInd.company}}</h4>
                                        <h5>{{expInd.dates}}</h5>
                                    </div>
                                    <p name="descriptionText">{{expInd.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Experience End -->

        <!-- Education -->
        <div class="block-content">
            <h3 class="block-title">Education</h3>
            <div class="timeline education">
                <div class="row">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div *ngFor="let eduInd of cv.education">
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4>{{eduInd.title}} | <span>{{eduInd.college}}</span></h4>
                                        <h5>{{eduInd.dates}}</h5>
                                        <a [attr.href]="eduInd.url" target="_blank">Watch Certificate</a>
                                    </div>
                                    <p>{{eduInd.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Education End -->

        <!-- Services -->
        <div class="block-content">
            <h3 class="block-title">Services</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6 service" *ngFor="let servInd of cv.services">
                    <div class="service-icon">
                        <i [class]="servInd.icon"></i>
                    </div>
                    <h4>{{servInd.name}}</h4>
                    <p>{{servInd.description}}</p>
                </div>
            </div>
        </div>
        <!-- Services End -->

        <!-- Testimonials -->
        <div class="block-content">
            <h3 class="block-title">Testimonials</h3>
            <div class="row">
                <div id="liontestimonial" class="owl-carousel owl-theme">
                    <div *ngFor="let tesInd of cv.testimonials">
                        <div class="item testimonials">
                            <img src={{tesInd.pictureUrl}} alt="">
                            <blockquote>{{tesInd.commentary}}
                                <p class="quote"><span>{{tesInd.name}}</span> - {{tesInd.position}}</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials End -->

        <div class="row text-center">
            <div class="col-md-12 btn-email">
                <a class="btn lowercase">aliriomiguel@aranguren.us</a>
            </div>
        </div>
    </section>
</div>
